<div class="block-main-content" id="resultsTable_box">
    <div *ngIf="counteragents.length && regions.length">
        <table id="resultsTable" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Полное название с формой собственности</th>
                    <th>Головная компания</th>
                    <th>Область</th>
                    <th>Район</th>
                    <th>Телефон/факс</th>
                    <th>Руководитель</th>
                    <th>Название товара (количество/цена)</th>
                    <th>Дата контакта</th>
                    <th>Тип контакта (тел. звонок/встреча)</th>
                    <th>Кто общался от компании</th>
                    <th>Тема контакта </th>
                    <th>Результат переговоров</th>
                    <th>Дата следующего контакта</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let counteragent of counteragents; let i = index" [ngClass]="{'completed' : counteragent.contacts.status == 'completed', 'conversation' : counteragent.contacts.status == 'conversation', 'holding' : counteragent.contacts.status == 'holding'}">
                    <td>{{i+1}}</td>
                    <td>
                        <div class="menu_context">
                            <p>{{counteragent.name}}</p>
                            <ul class="nav navbar-nav">
                                <md-menu #appMenu="mdMenu">
                                    <button md-menu-item> Сделать звонок </button>
                                    <button md-menu-item> Редактировать контрагент </button>
                                    <button md-menu-item> Внести результаты анализов </button>
                                    <button md-menu-item> Удалить контрагент </button>
                                </md-menu>

                                <button md-icon-button [mdMenuTriggerFor]="appMenu">
                                    <md-icon><i class="material-icons">reorder</i></md-icon>
                                </button>
                            </ul>
                        </div>
                    </td>
                    <td>{{counteragent.head_company}}</td>
                    <td>{{dataActual(counteragent).region}}</td>
                    <td>{{dataActual(counteragent).district}}</td>
                    <td>{{counteragent.phone_or_fax}}</td>
                    <td>{{counteragent.director}}</td>
                    <td>
                        <div *ngFor="let product of counteragent.contacts.products; let i = index">
                            {{product.name}}
                        </div>
                    </td>
                    <td>{{dataActual(counteragent).date_now}}</td>
                    <td>{{counteragent.contacts.contact_type}}</td>
                    <td>{{counteragent.contacts.contact_person}}</td>
                    <td>{{counteragent.contacts.subject}}</td>
                    <td>{{counteragent.contacts.status == 'completed' ? 'completed' : counteragent.contacts.status == 'conversation' ? 'conversation' : counteragent.contacts.status == 'holding' ? 'holding' : ''}}</td>
                    <td>{{dataActual(counteragent).next_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="counteragents.length==0">
        <p>Нет Результатов</p>
    </div>
</div>